# dependencies
/node_modules
# we use bun
package-lock.json

# dotenv environment variable files
.env

# Finder (MacOS) folder config
.DS_Store

/data

/local-test

/issues

# Playwright
/playwright-report
/test-results

# Epicshop workshops
workshops/
